{
  "settings": {
    "import/resolver": {
      "node": {
        "paths": ["./src/"]
      }
    }
  },
  "parser": "babel-eslint",
  "extends": ["airbnb", "prettier"],
  "plugins": ["prettier"],
  "env": {
    "browser": true,
    "node": true
  },
  "overrides": [
    {
      "files": ["**/*.test.js"],
      "env": {
        "jest": true
      },
      "plugins": ["jest"],
      "rules": {
        "jest/no-disabled-tests": "warn",
        "jest/no-focused-tests": "error",
        "jest/no-identical-title": "error",
        "jest/prefer-to-have-length": "warn",
        "jest/valid-expect": "error"
      }
    }
  ],
  "rules": {
    "react/jsx-filename-extension": [
      1,
      {
        "extensions": [".js"]
      }
    ],
    "react/jsx-props-no-spreading": [
      1,
      {
        "custom": "ignore"
      }
    ],
    "react/jsx-max-props-per-line": [
      1,
      {
        "when": "multiline"
      }
    ],
    "no-use-before-define": [
      "error",
      {
        "classes": false,
        "functions": false,
        "variables": true
      }
    ],
    "prettier/prettier": [
      "error",
      {
        "endOfLine": "auto",
        "singleQuote": true,
        "printWidth": 100,
        "trailingComma": "all",
        "useTabs": false
      }
    ]
  }
}
